@import url(/css-utilities/fonts.css);

:root {
    --dark-font: #222222;
    --blue-font: #00c8c8;
    --white-font: #ffffff;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    max-width: 100vw;
}











/* HOME HEADER */
.top-bar {
    background-color: #333333;
    display: grid;
    place-items: center;
    font-size: 13px;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-font);
    min-width: 55vw;
}

.top-bar-container > div:first-child {
    opacity: .5;
    cursor: pointer;
}

.top-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.top-bar-right > div:first-child {
    opacity: .5;
}

.top-bar-right-login {
    display: flex;
    gap: 1.5rem;
}

.top-bar-right-login a {
    text-decoration: none;
    color: var(--white-font);
}

.top-bar-right-cart {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--blue-font);
    padding: 1rem 1.5rem;
    position: relative;
    cursor: pointer;
}

.top-bar-right-cart > i:first-child {
    margin-right: 10px;
}

.fa-angle-down {
    font-size: .7rem;
}

.currency-angle-down {
    margin-left: 5px;
}

.cart-container {
    display: none;
    position: absolute;
    min-width: 300px;
    min-height: 100px;
    background-color: red;
    top: calc(100% + .25rem);
    left: 0;
    right: 0;
    padding: 1rem;
}

.header-container {
    background-size: cover;
    background-position: center;
}

.home-header-container {
    position: relative;
    height: 100vh;
    background: url(/images/home-header-image.png);
    background-size: cover;
    background-position: center;
}

.the-brand-header-container {
    height: 50vh;
    background-image: url(/images/the-brand-header-background.png);
    background-position: top;
    position: relative;
}


.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

.the-brand-nav {
    background-color: white;
}

.header-logo {
    font-size: 24px;
    width: 227px;
    text-align: center;
}

.header-logo-first-word {
    font-weight: 700;
}

.header-nav-center-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 55vw;
    gap: 1rem;
    font-weight: 500;
}

.header-nav-center-container > div {
    cursor: pointer;
    position: relative;
}

.header-nav-center-container > div > button:hover,
.header-nav-center-container > div > a,
.header-nav-center-container > a {
    transition: color .15s ease-in-out;
}

.header-nav-center-container > div > button:hover, 
.header-nav-center-container > div > a:first-child:hover,
.header-nav-center-container > a:hover,
.header-nav-center-container > div > button:focus,
.header-nav-center-container > div > button:focus ~ i,
.header-nav-center-container > div > button:hover ~ i {
    color: var(--blue-font);
}



.header-nav-center-container i {
    position: absolute;
    top: calc(100% + .25rem);
    left: 0;
    font-size: 12px;
    opacity: .5;
}

.header-nav-center-container > a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

.search-bar-container {
    width: 227px;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.search-bar-container > input {
    border: none;
    outline: none;
    padding: .5rem;
    background-color: transparent;
    font-family: inherit;
    font-size: 13px;
}

.search-bar-container > i {
    opacity: .5;
}

.header-nav-center-container > div > button {
    font-size: 13px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.header-nav-center-container > div > a:first-child {
    font-size: 13px;
    text-decoration: none;
    color: inherit;
}

.sub-nav {
    position: absolute;
    top: calc(100% + 1rem);
    background-color: #f8f8f8;
    min-width: 350px;
    min-height: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: -10px 15px 30px .1px rgba(0, 0, 0, .4);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity .25s ease-in-out,transform .25s ease-in-out;
    cursor: default;
}

.sub-nav-upper-content {
    display: flex;
    font-size: 14px;
    width: 100%;
    gap: 2rem;
}

.sub-nav-upper-content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-nav-upper-content > div > div {
    margin-bottom: .5rem;
}

.sub-nav-upper-content a {
    text-decoration: none;
    color: inherit;
    opacity: .9;
    font-weight: 300;
    transition: color .15s ease-in-out;
}

.sub-nav-upper-content a:hover {
    color: var(--blue-font);
}

.sub-nav-bottom-content {
    width: 100%;
    background-color: black;
    min-height: 150px;
    display: grid;
    place-items: center;
}

.sub-nav-bottom-content > div{
    color: var(--white-font);
    font-size: 32px;
}

.sub-nav-bottom-content > div > div:first-child {
    font-weight: 700;
}

.mens-container > button:focus + div,
.womens-container > button:focus + div,
.lookbook-container > button:focus + div {
    transform: translate(0);
    opacity: 1;
    pointer-events: auto;
}

.btn {
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, .4);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
    transition: color .25s ease-in-out, border .25s ease-in-out;
    position: relative;
    font-family: inherit;
}

.shop-men-collection-btn {
    position: absolute;
    bottom: 15%;
    right: 20%;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: var(--blue-font);
    transition: all .25s ease-in-out;
    z-index: -1;
}

.btn:hover {
    border: 1px solid transparent;
    color: var(--white-font);
}

.btn:hover.btn::before {
    width: 100%;
}









/* SECTION ITEMS */
.section-items {
    min-height: 120vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.section-items-container {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 2rem 0;
}

.items-nav-bar {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.items-btn {
    border: none;
    outline: none;
    background-color: transparent;
    gap: 2rem;
    cursor: pointer;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    transition: color .15s ease-in-out;
    opacity: .8;
}

.items-btn:hover {
    color: var(--blue-font);
}

.items-content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100%;
    gap: 1rem;
}

.item {
    position: relative;
    background-size: cover;
    background-position: center;
    transition: transform .25s ease-in-out;
}

.item > div {
    padding-left: 1rem;
    padding-top: .5rem;
}

.item-price {
    opacity: .6;
    position: relative;
    font-weight: 600;
}

.item-price::before {
    content: '£';
    position: absolute;
    font-size: 10px;
    top: 1px;
    left: -7px;
}

.hover-active {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.thumbs {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.thumbs > div {
    width: 80px;
    height: 100px;
    background-size: cover;
}

.front-thumb {
    background-image: url(/images/item5-front-thumb.png);

}

.back-thumb {
    background-image: url(/images/item6-back-thumb.png);
}

.details-link-icon {
    position: absolute;
    color: white;
    font-size: 21px;
    bottom: 30%;
    left: 50%;
    cursor: pointer;
}

.details-link-icon > i {
    transition: transform .5s ease-in-out;
}

.details-link-icon:hover > i{
    transform: rotate(360deg);
}

.info-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    background-color: white;
    text-align: center;
}

.info-container > div:not(.info-container > div:last-child) {
    opacity: .8;
    font-size: 10px;
}

.info-container > div:first-child {
    font-weight: 700;
}

.info-buttons-container {
    display: flex;
    gap: .5rem;
}

.info-buttons-container > button {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.info-buttons-container > button > i {
    transition: transform .5s ease-in-out;
}

.info-buttons-container > button:hover {
    background-color: var(--blue-font); 
}

.info-buttons-container > button:hover > i {
    transform: rotate(360deg);
}

.info-container-price {
    margin-left: .5rem;
}

.info-container-price::before {
    font-size: 7px;
}

.item1 {
    grid-row: span 5;
    background-image: url(/images/item1.png);
}

.item2 {
    grid-row: span 5;
    background-image: url(/images/item2.png);
}

.item3 {
    grid-column: span 2;
    grid-row: span 7;
    background-image: url(/images/item3.png);
}

.item4 {
    grid-column: span 2;
    grid-row: span 7;
    background-image: url(/images/item4.png);
}

.item5 {
    grid-row: span 5;
    background-image: url(/images/item5.png);
}

.item6 {
    grid-row: span 5;
    background-image: url(/images/item6.png);
}

.item:hover .hover-active {
    opacity: 1;
}

.item:hover {
    transform: translateY(1rem);
    z-index: 1;
}









/* LOOKBOOK SECTION */
.section-lookbook {
    min-height: 50vh;
    display: grid;
    place-items: center;
}

.lookbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.lookbook-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    background-color: #f8f8f8;
}

.lookbook-box > img {
    height: 300px;
}

.lookbook-content {
    text-align: end;
    opacity: .7;
    max-width: 400px;
}

.lookbook-content > div {
    font-size: 2.5rem;
}

.lookbook-content > div:first-child {
    font-weight: 700;
}

.lookbook-content > p {
    margin-top: 1rem;
    font-size: 500;
}

.lookbook-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: .8rem;
}









/* Home Footer */
.main-footer {
    min-height: 50vh;
    display: grid;
    place-items: center;
    background-color: #f8f8f8;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding: 0 .5rem;
    max-width: 55vw;
}

.footer-info-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    opacity: .8;
    flex-wrap: wrap;
}

.footer-info-details a {
    text-decoration: none;
    color: inherit;
}

.footer-info-details-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 300px;
}

.footer-info-details-item > div {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-bottom-boxes {
    display: flex;
    gap: 1rem;
}

.footer-left-box {
    width: 50%;
    color: var(--white-font);
    background-color: black;
    padding: 2rem 0;
    text-align: center;
    font-size: 32px;
}

.footer-left-box > div:first-child {
    font-weight: 700;
}

.footer-right-box {
    width: 50%;
    background-color: var(--blue-font);
}

.footer-right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
}

.footer-right-box i {
    color: var(--white-font);
}

.bottom-bar-container {
    padding: 1rem 0;
}

.bottom-bar-container > div:last-child > div:last-child {
    opacity: .5;
}









/* The brand.html */

.the-brand-center-header-text {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-font);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
}

.the-brand-center-header-text > div:first-child > span {
    font-weight: 700;
}

.the-brand-center-header-text > div:last-child {
    font-size: 1.5rem;
}

.the-brand-section {
    display: grid;
    place-items: center;
}

.the-brand-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 55vw;
    padding: 2rem 1rem;
}

.the-brand-item-image {
    width: 350px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.image-1 {
    background-image: url(/images/the-brand-image-1.png);
}

.image-2 {
    background-image: url(/images/the-brand-image-2.png);
}

.image-3 {
    background-image: url(/images/the-brand-image-3.png);
}

.the-brand-item-container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.the-brand-item-container > div {
    font-size: 14px;
}

.the-brand-item-container > div:not(.the-brand-item-container > div:first-child) {
    opacity: .7;
}

.the-brand-item-container > div:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
}

.the-brand-item-container > div:nth-child(3) {
    font-weight: 600;
}

.awards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}










/* local stores section */
.local-stores-section {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.local-stores-wrapper {
    max-width: 55vw;
    display: grid;
    place-items: center;
}

.local-stores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.local-stores-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: .8;
    font-size: 12px;
}

.local-stores-item > div:first-child {
    font-weight: 700;
    font-size: 16px;
}

.local-stores-item > div:nth-child(2) {
    font-weight: 600;
}

.local-stores-btn {
    width: 180px;
}

.location-details-container {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
}

.location-map {
    min-width: 70%;
    min-height: 500px;
    background-image: url(/images/local-stores-map.png);
    background-size: cover;
    background-position: center;
}

.details-container {
    opacity: .8;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.details-text-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 16px;
}

.details-text-container > div:first-child {
    font-size: 20px;
    font-weight: 700;
}

.details-text-container > div:nth-child(2) {
    font-weight: 600;
}

.details-text-container > div > i {
    margin-right: 10px;
}

.location-social-accounts {
    display: flex;
    gap: 1rem;
    font-size: 20px;
}

.location-social-accounts  div {
    background-color: var(--dark-font);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.location-social-accounts a {
    text-decoration: none;
    color: var(--white-font);
}










/* lookbook.html */
.our-lookbook-section {
    min-height: 150vh;
}

.our-lookbook-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.our-lookbook-container > div {
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

.our-lookbook-item1 {
    background-image: url(/images/item1.png);
}

.our-lookbook-item2 {
    background-image: url(/images/item2.png);
}

.our-lookbook-item3 {
    background-image: url(/images/janes-look.png);
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.item-wrapper > div:first-child {
    font-size: 32px;
}

.item-wrapper > div:first-child > span {
    font-weight: 700;
}

.item-wrapper > div:last-child {
    max-width: 300px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.item-wrapper > div:last-child > button {
    width: 150px;
}

.our-lookbook-item4 {
    background-image: url(/images/item3.png);
}

.our-lookbook-item5 {
    background-image: url(/images/item4.png);
}

.our-lookbook-item6 {
    background-image: url(/images/item5.png);
}

.our-lookbook-item7 {
    background-image: url(/images/item6.png);
}

.our-lookbook-item8 {
    background-image: url(/images/win-a-new-look.png);
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.win-a-new-look {
    color: var(--blue-font);
    display: flex;
    flex-direction: column;
    text-align: end;
    font-weight: 700;
}

.win-a-new-look > div:first-child {
    font-size: 8rem;
    line-height: .8;
}

.win-a-new-look > div:last-child {
    font-size: 3rem;
}

.our-lookbook-item9 {
    background-image: url(/images/item2.png);
}

.ref-price {
    display: flex;
    align-items: flex-start;
    opacity: .9;
}

.ref-price::before {
    content: 'REF';
    font-size: 10px;
}









/* Product-view.html */
.product-view-header {
    bottom: 15%;
}

.product-view-header > div:last-child > span {
    color: var(--blue-font);
}

.product-view-section {
    display: grid;
    place-items: center;
    padding: 2rem 0;
    min-height: 100vh;
}

.product-view-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-view-upper-side {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.product-view-image-container {
    width: 50%;
    background-image: url(/images/item1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.product-view-image-container > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.product-view-image-container > button:hover {
    background-color: var(--blue-font);
    color: var(--white-font);
}

.product-view-image-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: .7;
}

.product-view-image-content ul {
    padding-left: 1rem;
}

.product-view-image-content > div > span:first-child {
    font-weight: 600;
}

.product-header {
    font-weight: 600;
}

.review-container {
    display: flex;
    gap: 1rem;
}

.stars-container > i {
    color: #ded3aa;
}

.product-price {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    line-height: .7;
}

.product-price > div:first-child {
    text-decoration: line-through;
}

.product-price > div {
    display: flex;
    align-items: flex-start;
}

.product-price > div::before {
    content: '£';
    font-size: .75rem;
}

.product-view-blue-para {
    color: var(--blue-font);
}

.product-view-input-container {
    display: flex;
    gap: 2rem;
}

.product-view-input-container select {
    padding: .5rem;
    width: 150px;
    opacity: .8;
    outline: none;
}

.product-view-input-container input {
    padding: .5rem;
    width: 50px;
}

.product-view-input-container input[type="number"]::-webkit-outer-spin-button {
    width: 100px;
}

.product-view-btn::before {
    background-color: var(--dark-font);
}

.compare-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.compare-btn > div:first-child {
    width: 30px;
    height: 30px;
    background-color: var(--dark-font);
    color: var(--white-font);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.compare-btn > div:last-child {
    font-weight: 600;
}

.product-view-lower-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-view-lower-side > div:last-child {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: .7;
}

.product-view-lower-side > div:last-child > div:first-child {
    font-weight: 600;
}


.lower-side-navbar-container {
    background-color: #f8f8f8;
    display: flex;
    gap: 2rem;
}

.lower-side-navbar-container > button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: .5rem;
    font-family: inherit;
    font-weight: 600;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.lower-side-navbar-container > button:focus,
.lower-side-navbar-container > button:hover {
    background-color: var(--dark-font);
    color: var(--white-font);
}









/* Sign Up html */
.signup-section {
    display: grid;
    place-content: center;
    min-height: 50vh;
    padding: 2rem 0;
}

.signup-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    width: 50%;
}

.signin-form > div:first-child {
    font-weight: 600;
    opacity: .8;
}

.signin-form > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signin-form input {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, .2);
}

.signin-submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-submit-container > a {
    text-decoration: none;
    color: var(--blue-font);
    font-size: 14px;
    font-weight: 500;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    padding: 0 2rem;
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.register-form > div:first-child {
    font-weight: 600;
}

.register-form > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register-form input {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, .2);
}

.register-form input[type="checkbox"] {
    transform: scale(1.3);
    border-radius: 5rem;
}

.register-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.register-create-account-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-create-account-container > div {
    max-width: 230px;
    font-size: 14px;
    text-align: center;
}

.register-create-account-container > div > a {
    text-decoration: none;
    color: var(--blue-font);
    font-weight: 500;
}































































@media (max-width: 1260px) {
    .section-items-container {
       min-width: 900px;
    }
}

@media (max-width: 1230px) {
    .header-nav-center-container {
        max-width: 55vw;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .header-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        padding-left: 1rem;
    }

    .header-nav-center-container {
        justify-content: flex-start;
    }

    .search-bar-container {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .section-items-container {
        min-width: 700px;
     }

     .items-content-container {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, 1fr);
     }

     .item {
         grid-row: span 1;
         grid-column: span 1;
     }

     .location-details-container {
         flex-direction: column;
     }
}

@media (max-width: 760px) {
    .section-items-container {
        min-width: 200px;
     }

    .items-content-container {
        justify-content: center;
        grid-template-columns: .5fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 700px) {
    .header-nav-center-container {
        position: relative;
    }

    .header-nav-center-container > div{
       position: unset;
    }

    .sub-nav {
        top: calc(100% + 1rem);
        left: 0;
    }

    .header-nav-center-container i {
        display: none;
    }

    .footer-container {
        max-width: 100%;
    }

    .footer-bottom-boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .footer-right-box {
        flex-wrap: wrap;
    }
}

@media (max-width: 520px) {
    .search-bar-container {
        position: unset;
    }
    
    .lookbook-box {
        flex-direction: column;
        padding: 1rem;
    }

    .lookbook-content {
        text-align: center;
    }
    .details-container {
        padding: 1rem;
    }
}

